<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientesCadastroSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://app.omie.com.br/api/v1/geral/clientes/"
                binding="basicHttpBinding" bindingConfiguration="ClientesCadastroSoap"
                contract="ClientesCadastroReference.ClientesCadastroSoap"
                name="ClientesCadastroSoap" />
        </client>
    </system.serviceModel>
</configuration>